@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-gray-900 font-sans;
}

/* RTL 支持 */
html[dir="rtl"] * {
  text-align: right;
}

html[dir="rtl"] .flex-row {
  flex-direction: row-reverse;
}

html[dir="rtl"] .space-x-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 1;
} 